@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div style="font-family: Arial, Helvetica, sans-serif;">
    <h1 style="color: red; font-size: 30px; text-align: center;"> GIỚI THIỆU CƠ BẢN:</h1>
    <img width="200px height=150px" src="images/anhdaidien.png" alt="">
    <ol>
        <p> <span>&#9728; </span> Họ và tên thành viên: Đào Trọng Hiếu - Đồng Trung Hiếu</p>
        <p> <span>&#9728; </span> Mã số sinh viên: 2021050258 - 2021050261</p>
        <p> <span>&#9728; </span> Mã môn học: 7080107 - Nhóm 201</p>
        <p> <span>&#9728; </span> Giảng viên hướng dẫn: Phạm Quang Hiển</p>
        <p> <span>&#9728; </span> Đề tài: Thiết kế Web MVC về SHOP bán trái cây</p>
    </ol>


</div>